section.about
    .container
        .logo KONSTRU<span></span>T
        h1.about__title PARTNER WITH KONSTUCT
        .about__subtitle An award-winning construction management firm
        p.about__scroll-down SCROLL DOWN