header.header.container
    .logo.header__logo KONSTRU<span></span>T
    nav.header__links
        a.header__link HOME
        a.header__link ABOUT
        a.header__link SERVICES
        a.header__link WORK
        a.header__link CONTACT