.information 
    .container 
        .information__wrapper 
            .information__company
                .information__name COMPANY
                .logo KONSTRU<span></span>T
                p.information__text.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.
            .information__links 
                .information__name LINKS
                nav.information__nav
                    .information__separator
                        a.information__link(href="") HOME
                        a.information__link(href="") ABOUT
                        a.information__link(href="") SERVICES
                        a.information__link(href="") PROJECTS
                        a.information__link(href="") CONTACT US
                    .information__separator
                        a.information__link(href="") FAQ
                        a.information__link(href="") TERMS
                        a.information__link(href="") CAREERS
                    .information__separator
                        a.information__link(href="") BLOG
                        a.information__link(href="") PARTNERS
                        a.information__link(href="") NEWS
            .information__contact_us
                .information__name CONTACT US
                p.information__text.
                    213 Baker Street<br>
                    Oriel City Kounty<br>
                    7000 KNW,<br>
                    Kountry Name<br/>
                    <br/>+23 994 233 4022<br/>
                    <br/>info@konstruct.com
            .information__social-media
                a.information__social-link(href="")
                    img.information__icon(src="images/facebook.svg" alt="Facebook")
                a.information__social-link(href="")
                    img.information__icon(src="images/twitter.svg" alt="Twitter")
                a.information__social-link(href="")
                    img.information__icon(src="images/google.svg" alt="Google")
