section.our-story.container
    h2.our-story__title OUR STORY
    .our-story__wrapper
        .our-story__info
            | Founded in 2011 by John Mathew Smith, 
            span Konstruct
            |  has become the number one construction management firm
            p.our-story__description
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                | aliquam erat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                | dolore magna aliquam erat.
        .our-story__cards
            .our-story__card(style="background-image: url('images/Bitmap.jpg')") WE PLAN
            .our-story__card(style="background-image: url('images/Bitmap-1.jpg')") WE MANAGE
            .our-story__card(style="background-image: url('images/Bitmap-2.jpg')") WE BUILD
