section.our-capabilities.container
    .our-capabilities__wrapper
        h2.our-capabilities__title.our-story__title OUR CAPABILITIES
        .our-capabilities__text.our-story__description
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            | erat.
        button.our-capabilities__button.button ALL SERVICES
    d.our-capabilities__cards
        .our-capabilities__card
            img.our-capabilities__icon(src='images/PROJECT AND CONSTRUCTION MANAGEMENT.svg' alt='PROJECT AND CONSTRUCTION MANAGEMENT')
            h3.our-capabilities__name PROJECT AND CONSTRUCTION MANAGEMENT
            p.our-capabilities__description
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                | aliquam erat.
        .our-capabilities__card
            img.our-capabilities__icon(src='images/STRUCTURE AUDIT AND MAINTENANCE.svg' alt='STRUCTURE AUDIT AND MAINTENANCE')
            h3.our-capabilities__name STRUCTURE AUDIT AND MAINTENANCE
            p.our-capabilities__description
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                | aliquam erat.
        .our-capabilities__card
            img.our-capabilities__icon(src='images/FACTORY CONSTRUCTION AND MODELING.svg' alt='FACTORY CONSTRUCTION AND MODELING')
            h3.our-capabilities__name FACTORY CONSTRUCTION AND MODELING
            p.our-capabilities__description
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                | aliquam erat.